@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                         class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                         alt="Sample photo">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

                        <form method="post" class="px-md-2">

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" asp-for="FullName" class="form-control" />
                                <label class="form-label">Full Name</label>
                                <span asp-validation-for="FullName"></span>

                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" asp-for="Email" class="form-control" />
                                <label class="form-label" for="Email">Email</label>
                                <span asp-validation-for="Email"></span>

                            </div>


                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" asp-for="UserName" class="form-control" />
                                <label class="form-label" for="Username">Username</label>
                                <span asp-validation-for="UserName"></span>

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline datepicker">
                                        <input type="text" class="form-control" asp-for="Password" />
                                        <label for="Password" class="form-label">Password</label>
                                        <span asp-validation-for="Password"></span>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline datepicker">
                                        <input type="text" class="form-control" asp-for="ConfirmPassword" />
                                        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                                        <span asp-validation-for="ConfirmPassword"></span>
                                    </div>

                                </div>

                            </div>
                                <div asp-validation-summary="ModelOnly"></div>
                           

                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1">Submit</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

